<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reclutamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-button routerLink="/reclutamiento-create">
          <ion-icon slot="start" name="add"></ion-icon> Crear Reclutamiento
        </ion-button>
      </ion-card-subtitle>
      <ion-card-title>

      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Mostrar clientes filtrados -->
        <ion-item *ngFor="let r of reclutamientos">
          <ion-label
            >RUC:{{r.ruc}} - Fecha:{{r.fecha}} -
            Numero de hijos:{{r.numhijos}} - Profesion: {{r.profesion}} - Sueldo: {{r.sueldo}} </ion-label
          >

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
